body {
	background: #f9e933;	
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}


header {
	background: white;
	overflow: auto;
}

header h1, footer .contact {
	float: left;
	width: 570px;
}
header nav, footer .sitemap {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
}

main .container {
	margin-bottom: 70px;
}

footer {
	overflow: auto;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 450%;
	margin-top: 30px;
	margin-bottom: 50px;
}

h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
	margin-top: 40px;
	margin-bottom: 20px;
}

nav, p, ul {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

a:link {
	color: red;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav {
	font-weight: bolder;
	margin-top: 30px;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: red; /*#eee;*/
}
